.popup__input {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 6px;
  width: 100%;
  align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  background-position: center;
  max-width: 358px;
}

@media (max-width: 600px) {
  .popup__input {
    width: 80%;
  }
}