.element__delete {
    position: relative;
    top: -243px;
    right: 0;
    min-width: 22px;
    min-height: 19px;
    background-image:url(../../../images//Trash.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    z-index: 3;
    align-self: self-end;
    margin-right: 20px;
  }
  
  .element__delete:hover {
    opacity: 0.6;
    cursor: pointer;
  }