.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto 53px;
  flex-direction: row;
  justify-content: space-between; 
}

@media (max-width: 880px) {
  .profile {
    width: 581px;
    margin-bottom: 34px;
  }
}

@media (max-width: 600px) {
  .profile {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
}