.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto 51px;
  flex-direction: row;
  justify-content: space-between; 
}

@media (max-width: 880px) {
  .profile {
    width: 581px;
    margin-bottom: 36px;
  }
}

@media (max-width: 600px) {
  .profile {
    max-width: 100%;
    flex-direction: column;
  }
}