.profile__descr { 
  margin: 7px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media (max-width: 1024px) {
  .profile__descr {
    max-width: 450px;
  }
}

@media (max-width: 880px) {
  .profile__descr {
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width:100%;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .profile__descr {
    max-width: 300px;
  }
}