.popup__content {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 340px;
  background: #FFFFFF;
  border-radius: 10px;
  color: #000000;
  margin: 195px auto 195px;
  align-items: center;
  z-index: 3;
}

@media (max-width: 600px) {
  .popup__content {
    width: 282px;
    height: 322px;
  }
}
/*

@media (max-width: 600px) {
  .popup {
    margin: 123px auto 123 px;
  }\
  */