.header {
  border-bottom: 1px white solid;
  box-sizing: border-box;
  width: 880px;
  margin: 45px auto 36px;
  padding-bottom: 37px;
}

@media (max-width: 880px) {
  .header {
    width: 581px;
    padding-left: 27px;
  }
}

@media (max-width: 600px) {
  .header {
    width: 100%;
  }
}