.profile__info-group {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .profile__info-group {
    width: calc(100% - 60px);
    flex-direction: column;
    margin-bottom: 34px;
    align-items: center;
    align-content: center;
    align-self: center;
  }  
}