.profile__info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: left;   
}

@media (max-width: 600px) {
  .profile__info {
    margin-top: 6px;
    justify-content: center;
    align-items: center;
  }
}