
.footer {  
  max-width: 880px;
  margin: 0 auto 60px;
}

@media (max-width: 880px) {
  .footer {
    max-width: 581px;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .footer {
    width: 320px;
    text-align: center;
  }
}